/************************************************************************/
/*                            base                                      */
/************************************************************************/
html{
    scroll-behavior: smooth;
 }
 
html{
    font-size: 62.5%; /* 10 / 16 */
}

body {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
/************************************************************************/
/*                            layout                                    */
/************************************************************************/
.layout-cabecalho {
    height: 102px;
    line-height: 90px; 
    border-bottom: 1px solid rgb(10, 42, 53);
    border-bottom:0.5px solid rgb(95, 66, 9);

    background: rgb(3, 27, 31);
    
}

.layout-cabecalho--home{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 999;
}


.layout-cabecalho img {
    margin-top: 12px;

}

.logo-assinar {
    position: relative;
    left: -0.1rem;
}


 .layout-games{
 padding: 80px 0;    
 }

 .layout-chamada{
     padding: 80px 0;
     margin-top: 102px;
    
     background: rgb(0,20,24);
     background: linear-gradient(90deg, rgba(0,20,24,1) 0%, rgba(3,59,75,1) 50%, rgba(58,151,180,1) 100%);
 }

 .layout-depoimento{
     padding: 60px;
     background-color: #e7e7e7;
 }

 .layout-depoimento2{
    padding: 60px;
    color:#FFF;
    background: rgb(0,20,24);
    background: linear-gradient(90deg, rgb(2, 43, 51) 0%, rgb(9, 91, 114) 50%, rgb(22, 90, 110) 100%);
}

 .layout-rodape{
    padding: 40px 0;
    background: rgb(3, 27, 31);

    color: rgb(13, 152, 165);
    text-align: center;
 }


 @media (max-width: 991px){
    .layout-games .row > div:not(.ultima-coluna){
        margin-bottom: 40px;
    }
 }
 

 .layout-assinatura{
     padding: 40px 0;
 }

 .curiosidade{
     background-color: rgb(3, 27, 31);
     align-items: center;
 }

 
 .curiosidade h2 {
     font-size: 2.5rem;
     text-align: center;
     color: rgb(13, 152, 165);
 }
/************************************************************************/
/*                            componentes                               */
/************************************************************************/
.games { 
    position: relative;

    padding: 10px;
    border: 1px solid #12b8c4;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

    font-size: 1.4 rem;
}

    .games--popular::after {
        position: absolute;
        top: -10px;
        left: -10px;
        
        padding: 0 10px;

        background-color: rgb(207, 157, 18);
        color: rgb(24, 24, 24);

        font-size: 0.7142em;
        line-height: 2.5;
        font-weight: bold;

        content: "FAVORITO";
    }


    .games__cabecalho {
        background: rgb(0,20,24);
        background: linear-gradient(90deg, rgba(0,20,24,1) 0%, rgba(32,70,82,1) 52%, rgba(3,59,75,1) 96%);
        color: #fff;
        text-align: center;
        margin: -10px;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 0;
        font-weight: normal;
        font-size: 2em;
        border-radius: 0%;
        
    }

    .games__preco {
        text-align: center;
        font-size: 2em;
        margin: 20px 0;
    }

    .games__caracteristica {
        list-style-type: none;
        padding: 0;
        margin: 20px 0;

        font-size: 1em;
    }

    .games__caracteristica li {
        text-align: center;
    }

    .games_rodape {
        text-align: center;
    }

/********************************************************/
/*                        Botao                         */
/********************************************************/

.botao{
    display: inline-block;
    background-color: #bbb;
    color: azure;
    padding: 12px 16px  ;
    line-height: normal;
    text-decoration: none;
    border: none;
}

.botao:hover , .botao:focus{
    background-color: rgba(38, 146, 156, 0.808);
    text-decoration: none;
    color: azure;
}

    .botao--login{
        background-color: rgba(18, 207, 224, 0.808);
        text-decoration: none;
        color: azure !important; 
        
    }

    .botao--assinar{
        background-color: rgba(41, 229, 247, 0.808);
        text-decoration: none;
        color: rgb(28, 29, 29) ;
        border-radius: 5%; 
        font-weight: bold;
        
    }
    
    .botao-assinar:hover, .botao--assinar.botao:focus,
    .botao--login :hover, .botao--login.botao:focus {
        background-color: #7097b1;
    }

.botao--principal{

    border-radius: 10px;

    background-color: #006b86;


}

.botao--principal:hover, .botao--principal:focus{

    background-color: #055668;
}

/********************************************************/
/*                        chamada                       */
/********************************************************/


.chamada {
    font-size: 1.6rem;
    text-align: center;
}

.chamada__titulo{
    margin: 0;

    color: #fff;

    font-size:3.375em;
    line-height: 1;
    text-shadow: 1px 1px #333333;
}

.chamada__subtitulo{
    margin: 60px 0;

    color: #fff;

    font-size: 1.3em;
}


.chamada__acao{
    font-size: 1.1em;
}

@media(min-width: 992px){
    .chamada{
        padding-left: 10%;
        padding-right: 10%;

        font-size: 2.2rem;
    }
}

/********************************************************/
/*                       Depoimento                     */
/********************************************************/
.depoimento,.depoimento2{
    font-size: 2.2rem;
}

@media(min-width: 992px){

    .depoimento, .depoimento2{
        font-size: 2.9rem;
    }
    .depoimento > blockquote::before{
        position: absolute;
        left: -15px !important;
        top: -0.50em;
        color: rgba(0,20,24,1);
        font-size: 8em;
        content: "\201C";
    }

    .depoimento2{
        color: rgba(0,20,24,1);
        text-align: center;
        color: rgb(206, 205, 205);
    }

}

.depoimento > blockquote, .depoimento2 > blockquote{
    position: relative;
    
    margin:0;
    padding: 0 60px;
 
    text-align: center;
    font-size: 1em;
}

.depoimento > blockquote::before{
    position: absolute;
    left: 15px;
    top: -0.50em;

    color: rgba(0,20,24,1);

    font-size: 8em;

    content: "\201C";
}

.depoimento__autor{
    margin-top: 40px;

    text-align: center;
    font-size: 0.9191em;
}

.depoimento__autor > img{
    border-radius: 10%;
}

.depoimento__autor > p {
    margin-top: 10px;
}

.logo--assinar {
    background-color: rgb(204, 32, 32);
}

/********************************************************/
/*                       Navegacao                      */
/********************************************************/

.navegacao{

}

.navegacao__menu{
    float: right;
}

.navegacao--assinatura {
    text-align: center;
  }

/********************************************************/
/*                       Botao-Chaveador                */
/********************************************************/
.botao-chaveador{
    width: 24px;
    height: 24px;
    border: 0;
    
    background: none;
    background-image: url("../imagens/bars.png");

    outline: none;
}

@media(min-width: 992px){
    .botao-chaveador{
        display: none;
    }
}

/********************************************************/
/*                  Menu                                */
/********************************************************/
.menu{
    margin: 0;
 
    font-size: 1.4rem;

    list-style: none;
}

.menu a{
    color: rgb(0, 193, 213);
}


@media(max-width: 991px){
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        display: none;
    
        width: 200px;
        padding: 25px;
        border-right: 1px solid #eee;
        
    
        background-color: #fbfbfb;
    }

    .menu--exibindo{
        display: block;

        line-height: 3;
    }

    .menu__item{
        display: block;

        line-height:  3;
        
    }

    .menu__item--botao{
        margin-top: 20px;
    }
}

@media(min-width: 992px){

    .menu__item{
        display: inline-block;
        padding-right: 20px;
        
    }
    .menu__item:last-of-type {
        padding-right: 0px;
    }
}


/********************************************************/
/*                  Formulario                          */
/********************************************************/
.titulo-formulario{
    margin: 0;
    margin-bottom: 40px;

    border-bottom: 1px solid #ccc;

    font-size: 2.6rem;
    font-weight: normal;
    color: #004b86;
}


/********************************************************/
/*                 Grupo-entrada                        */
/********************************************************/
.grupo-entrada{
    margin-bottom: 15px;
}

.grupo-entrada > label {
    display: block;

    font-weight: bold;
}


/********************************************************/
/*                Campo                                 */
/********************************************************/
.campo{
    display: block;
    width: 100%;
    height: 2.8em;

    padding: 5px;
    border: 1px solid #CCC;    
    border-radius: 5px;

    font-size: 1.4rem;
}

/********************************************************/
/*                Review                                */
/********************************************************/

.layout-review{
 
    background: rgb(0,20,24);
    background: linear-gradient(90deg, rgba(0,20,24,1) 0%, rgb(5, 49, 61) 50%, rgb(0, 0, 0) 100%);
}

.layout-review .container{
    padding: 0px;
    margin: 0px;
    width: 99%;
}

.layout-review img{
    max-width: 100%;
    
}

.p--history{
  color: #d6d6d4; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 14px; 
  font-weight: bold;
  line-height: 35px; 
  margin: 0 0 24px; 
  text-align: justify; 
  text-justify: inter-word; 
  text-indent: 4em;
      
  padding-right: 10% ;
  padding-left: 10% ;
}



.h2--history{
    color: rgb(101, 102, 57); 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 2.5em; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;

    padding-right: 15% ;
    padding-left: 10% ;
}

@media(min-width: 991px){

    .history{
        margin: 0px !important;
    
    }
    .p--history{
        padding-right: 18% ;
        padding-left: 5% ;
        
    }

    .h2--history{

        margin-top: 70px !important;
        padding-right: 20% ;
        padding-left: 5% ;
        
    }
}

.history{
    margin: 10px;

}